{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Acme Wedding{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static "base.css" %}">
    {% block css %}{% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Acme Wedding</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse px-2" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% block menuitems %}{% endblock %}
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/catalogo">Catálogo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/orders/tracking/">Pedidos</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Sobre la empresa
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                            <li><a class="dropdown-item" href="/metodopago">Métodos de pago</a></li>
                            <li><a class="dropdown-item" href="/opcionesentrega">Opciones de entrega</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/politicaenvio">Política de envío</a></li>
                            <li><a class="dropdown-item" href="/politicaprivacidad">Política de privacidad</a></li>
                            <li><a class="dropdown-item" href="/politicadevolucion">Política de devolución</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/terminosuso">Términos de uso</a></li>
                            <li><a class="dropdown-item" href="/datosempresa">Datos de contacto</a></li>
                            <li><a class="dropdown-item" href="/incidencias">Servicio técnico</a></li>
                        </ul>
                    </li>
            
                    
                </ul>
                <form class="d-flex nav-item mb-2 mb-lg-0" action="/catalogo" method="GET">
                    <div class="input-group">
                        <span class="input-group-text" id="id-etiqueta-buscar-nombre">Buscar artículo por nombre</span>
                        <input id="id-buscar-nombre" class="form-control me-2" name="name" type="search" placeholder="Buscar por nombre" aria-label="Buscar por nombre">
                    </div>
                    <button id="id-buscar-boton" class="btn btn-outline-info" type="submit">Buscar</button>
                </form>             
            </div>
            <div class="nav-item">
                <a class="btn btn-primary" href="/cart">Carrito&nbsp;<em class="bi bi-cart3"></em></a>
            </div>
        </div>
    </nav>
    
    <div id="content" class="container">
        {% if messages %}
            <ul class="messages mt-3">
                {% for message in messages %}
                    <div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% else %}alert-info{% endif %} alert-dismissible fade show" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    <span>{{ message }}</span>
                    </div>
                {% endfor %}
            </ul>
        {% endif%}
        {% block content %}
        {% endblock %}
    </div>
    
</body>
</html>
