{%extends 'base.html'%}

{% block menuitems %}

{% endblock %}

{% block content %}
<div class="row">
  <h1>Datos de la empresa</h1>
  <hr>
  <div class="col-lg-6">
    <div class="card my-2">
      <div class="card-header">Acme Wedding</div>
      <div class="card-body">
        <p>Acme Wedding es una empresa emergente centrada en la venta y alquiler de artículos de boda.</p>
        <p>Desde ramos de flores para la novia hasta la vajilla del convite, Acme Wedding ofrece una enorme variedad de artículos con los que realizar la boda de tus sueños.</p>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="card my-2">
      <div class="card-header">Datos de contacto</div>
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item"><i class="bi bi-telephone-fill"></i> Teléfono: (+34) 627750323</li>
          <li class="list-group-item"><i class="bi bi-envelope-fill"></i> Correo electrónico: <a href="mailto:acmewedding.elesemca@gmail.com" class="link-info">acme.wedding@gmail.com</a></li>
          <li class="list-group-item"><i class="bi bi-geo-alt-fill"></i> Dirección: Av. República Argentina 666, 41011</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}