{%extends 'base.html'%}

{% block menuitems %}

{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12 mx-auto">
        <h1>Métodos de pago</h1>
        <hr>
        <p>Los siguientes métodos de pago están a su disposición:</p>
        <ul class="list-group">
            <li class="list-group-item fw-bold">
                <p>Contrareembolso</p>
                <span class="fw-normal">Pago junto a la entrega del pedido.</p>
            </li>
            
            <li class="list-group-item fw-bold">Tarjeta de crédito. Disponibles:
                <ul class="my-3 list-group fw-normal">
                    <li class="list-group-item">Visa</li>
                    <li class="list-group-item">Mastercard</li>
                    <li class="list-group-item">Amex</li>
                    <li class="list-group-item">Discover</li>
                    <li class="list-group-item">JCB</li>
                    <li class="list-group-item">Maestro</li>
                    <li class="list-group-item">UnionPay</li>
                    <li class="list-group-item">Elo</li>
                    <li class="list-group-item">Hiper</li>
                    <li class="list-group-item">HiperCard</li>
                </ul>
            </li>
        </ul>
        <h2></h2>
    </div>
</div>
{% endblock %}


