{%extends 'base.html'%}

{% block menuitems %}

{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12 mx-auto">
    <h1>Opciones de entrega</h1>
    <hr>
    <p>La entrega de artículos adquiridos a través del sistema de venta de Acme Wedding serán enviados a la localización física especificada en el formulario de compra. En caso de error, sería necesario contactar con el servicio técnico antes de que se tramite el envío del pedido. En caso contrario, deberá buscarlo al lugar que marcó en un principio.</p>
  </div>
</div>
{% endblock %}