{%extends 'base.html'%}

{% block menuitems %}

{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12 mx-auto">
    <h1>Política de envío gratuito</h1>
    <hr>
    <h2>Plazos de entrega</h2>
    <p>Los productos serán entregados en un plazo máximo de 30 días desde la realización del pedido.</p>
    
    <h2>Envíos nacionales</h2>
    <p>Acme Wedding realiza envíos de pedidos exclusivamente en territorio nacional español. Esto incluye:</p>
    <ul>
      <li>Territorio peninsular.</li>
      <li>Islas Baleares.</li>
      <li>Islas Canarias.</li>
      <li>Las ciudades autónomas de Ceuta y Melilla.</li>
    </ul>

    <h2>Condiciones especiales</h2>
    <p>Por lo general, un pedido con productos pequeños o ligeros suele tardar menos que un pedido con al menos un objeto voluminoso, pesado o frágil.</p>
    <p>Se recomienda realizar varios pedidos si se requieren objetos con más urgencia que otros.</p>

    <h2>Modificaciones de pedido</h2>
    <p>Si el pedido ha sido realizado por error, contáctenos inmediatamente por teléfono para cancelarlo.</p>
    <p>Una vez se ha enviado el pedido, no se podrá modificar hasta su entrega, en cuyo caso deberá comunicarlo para poder devolverlo.</p>
    
    <h2>Problemas en la entrega</h2>
    <p>Si el pedido no alcanza su destino, póngase en contacto con el servicio técnico para dar solución a su problema. Asegúrese de que no ha transcurrido el plazo de 30 días.</p>
    <p>En caso de que el producto llegue dañado, sucio, descolorido, manchado o roto, podrá devolver el producto sin problema. Para ello, contacte con el servicio técnico, que requerirá de más detalles para verificar el hecho.</p>

    <h2>Cambios y devoluciones</h2>
    <p>Un artículo comprado puede ser devuelto si no han transcurrido más de 5 días hábiles desde la entrega. Por otro lado, un artículo alquilado deberá ser devuelto como máximo en 2 días hábiles desde la finalización del evento para el que fue adquirido.</p>
    <p>Para poder cambiar un artículo por otro, deben haber transcurrido 3 días hábiles como máximo y debe demostrarse que no ha sido empleado.</p>
  </div>
</div>
{% endblock %}
Footer
