{%extends 'base.html'%}

{% block menuitems %}

{% endblock %}

{% block content %}
<div class="row my-5">
  <div class="col-lg-12 mx-auto">
    <h1 style='font-size: 3vw;'>Política de devolución de Acme wedding
    </h1>
    <p style='font-size: 1vw;'>&nbsp;</p>
    <p style='font-size: 1.25vw;'>
      Nuestra política dura 30 días. Si pasaron 30 días desde el alquiler del producto, desafortunadamente no podemos ofrecerle un reembolso ni un cambio.
    </p>

    <p style='font-size: 1.25vw;'>
      Para ser elegible para un reembolso, su artículo debe estar sin usar y en la misma condición en que lo recibió. También debe estar en el embalaje original.
    </p>

    <p style='font-size: 1.25vw;'>
      Hay ciertas situaciones en las que solo se otorgan reembolsos parciales como lo son:
    </p>
    
    <ul style='font-size: 1.25vw;'>
      <li>Alquiler de localizaciones</li>
      <li>Alquiler de castillos hinchables</li>
      <li>Alquiler de equipos de sonido</li>
      <li>Cualquier artículo devuelto más de 30 días después de la entrega.</li>
    </ul>
    
    <h5 style='font-size: 1.5vw;'>Reembolsos</h5>
    <p style='font-size: 1.25vw;'>
      Una vez recibida e inspeccionada su devolución, le enviaremos un correo electrónico para notificarle que recibimos el artículo que devolvió. También le notificaremos sobre la aprobación o el rechazo de su reembolso.
      Si se aprueba, se procesará su reembolso y se aplicará un crédito automáticamente en su tarjeta de crédito o método de pago original, dentro de una cierta cantidad de días.
    </p>

    <h5 style='font-size: 1.5vw;'>Reembolsos tardíos o faltantes</h5>
    <p style='font-size: 1.25vw;'>
      Si aún no recibió un reembolso, primero revise de nuevo su cuenta bancaria.
      Luego, comuníquese con la empresa de su tarjeta de crédito. Puede demorar algún tiempo antes de que su reembolso se vea reflejado de manera oficial.
      Después, contacte a su banco. A menudo es necesario un tiempo de procesamiento antes de poder ver reflejado un reembolso.
      Si ya hizo todo lo anterior y aún no recibió su reembolso, puede contactarnos escribiendo a acmewedding.elesemca@gmail.com.
    </p>
    
    <h5 style='font-size: 1.5vw;'>Cambios</h5>
    <p style='font-size: 1.25vw;'>
      Si necesita cambiarlo el producto por uno igual debido a que le llegó defectuoso o en mal estado, envíenos un correo 
      electrónico a acmewedding.elesemca@gmail.com y envíe su artículo a: Av. República Argentina 666, Sevilla, SE, 41011, España.
    </p>
  
    <h5 style='font-size: 1.5vw;'>Envío</h5>
    <p style='font-size: 1.25vw;'>
      Para devolver su producto, debe enviarlo por correo a: Av. República Argentina 666, Sevilla, SE, 41011, España.
    </p>
    
    <p style='font-size: 1.25vw;'>
      Los costos de envío para devolver su artículo corren por su cuenta siempre y cuando no sea por un mal estado del producto cuando se le entregó. 
      Los costos de envío no son reembolsables. Si recibe un reembolso, el costo de envío de la devolución se deducirá de su reembolso.
    </p>
    
    <p style='font-size: 1.25vw;'>
      Según dónde viva, el tiempo que tome recibir el cambio de su producto puede variar.
    </p>
    
    <p style='font-size: 1.25vw;'>
      Si envía un artículo de más de €75, se recomienda usar un servicio de envío con seguimiento o comprar un seguro de envío. 
      No garantizamos que recibiremos el artículo, en cuyo caso se le responsabilizaría a usted por la perdida de este y se le aplicaría 
      un cargo cuyo valor dependerá del que tuviese el artículo.
    </p>
  </div>
</div>
{% endblock %}
Footer
