{%extends 'base.html'%}

{% block menuitems %}

{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12 mx-auto">

    <h1>Términos y Condiciones Generales de Prestación de Servicios</h1>
    <hr>
    <p>La titularidad de este sitio web 
      (<a class="link-primary" href="https://acme-wedding.up.railway.app/">https://acme-wedding.up.railway.app/</a>) la ostenta
      ACME Wedding, cuyos datos de contacto se encuentran <a href="/datosempresa" class="link-primary">esta página.</a></p>

    <p>Este documento, así como todo otro documento que aquí se mencione, regula las condiciones
      por las que se rige el uso del sitio web <a class="link-primary" href="https://acme-wedding.up.railway.app/">https://acme-wedding.up.railway.app/</a>
      y la compra o adquisición de servicios en el mismo. A efectos de estas Condiciones se entiende que la actividad
      que ACME Wedding desarrolla a través del Sitio Web comprende la realización del servicio de alquiler de productos de bodas</p>
    
     <p>Además de leer las presentes Condiciones, antes de acceder, navegar y/o usar esta página web, el
      usuario ha de haber leído el Aviso Legal y las Condiciones Generales de Uso, incluyendo la política de privacidad y de protección de datos.</p> 
    
      <p>Al utilizar este Sitio Web o al hacer y/o solicitar la adquisición de un servicio a través del mismo, el
        Usuario consiente quedar vinculado por estas Condiciones y por todo lo anteriormente mencionado,
        por lo que si no está de acuerdo con todo ello, no debe usar este Sitio Web.</p>
      
      <p>Asimismo, se informa que estas Condiciones podrían ser modificadas. El Usuario es responsable
          de consultarlas cada vez que acceda, navegue y/o use el Sitio Web ya que serán aplicables aquellas
          que se encuentren vigentes en el momento en que se solicite la adquisición de los servicios.</p>
     
      <p>Para todas las preguntas que el Usuario pueda tener en relación con las Condiciones puede
        ponerse en contacto con el titular utilizando los datos de contacto facilitados o utilizando
        el formulario de contacto.</p>

    <h2>2.- El usuario</h2>
    
    <p>El acceso, la navegación y uso del Sitio Web, confiere la condición de usuario, por lo que se aceptan,
      desde que se inicia la navegación por el Sitio Web, todas las Condiciones aquí establecidas, así como
      sus ulteriores modificaciones, sin perjuicio de la aplicación de la correspondiente normativa legal de
      obligado cumplimiento según el caso.</p>
    
    <p>El Usuario asume su responsabilidad de un uso correcto del Sitio Web. Esta responsabilidad
        se extenderá a:
        <ul>
          <li>Hacer uso de este Sitio Web únicamente para realizar consultas y compras o
            adquisiciones legalmente válidas.</li>
          <li>No realizar ninguna compra falsa o fraudulenta.</li>
          <li>Facilitar datos de contacto veraces y lícitos, por ejemplo, dirección de correo
            electrónico, dirección postal y/u otros datos.</li>
          </ul>
    </p>
    <p>El Usuario declara ser mayor de 18 años y tener capacidad legal para celebrar contratos a través
      de este Sitio Web.</p>
    <p>El Sitio Web está dirigido principalmente a Usuarios residentes en España. ACME Wedding no
      asegura que el Sitio Web cumpla con legislaciones de otros países, ya sea total o parcialmente.</p>

    <h2>3.- Aplicabilidad de las condiciones generales</h2>
    <p>Estas condiciones se aplican a todas las cotizaciones, ofertas, actividades, acuerdos y entregas de
      servicios por o en nombre de ACME Wedding. La desviactón de estas condiciones sólo es posible si
      las partes así lo han acordado explicitamente por escrito.
      El acuerdo siempre contiene obligaciones de esfuerzo para el proveedor de servicios, sin
      obligaciones de resultado.</p>

    <h2>4.- Objeto</h2>
    <p>Las presentes condiciones tienen por objeto regular los términos contractuales para la prestación de
      los Servicios y la contraprestación debida por el usuarioa ACME Wedding, así como la utilización
      del Servicio por éste. La prestación de los Servicios se llevará a cabo a mediante la obtención,
      disposición, organización, empleo y gestión por parte de ACME Wedding de los recursos técnicos,
      humanos y operativos necesarios al efecto y, siempre y en todo caso, como contraprestación a los
      precios vigentes en cada momento.</p>
    <p>
      Las condiciones comerciales de este servicioy las ofertas que eventualmente puedan llevarse a cabo
      por ACME Wedding siempre aparecen en la página <a class="link-primary" href="https://acme-wedding.up.railway.app/">https://acme-wedding.up.railway.app/</a>, por lo
      que pueden ser consultadas, archivadas o impresas.</p>
    <p>
      ACME Wedding proporciona a los usuarios diversos servicios para el alquiler de productos de bodas.
      El contenido y el alcance de los servicios se rigen por los acuerdos contractuales respectivos,
      además, exclusivamente de acuerdo con las funcionalidades del servicio descrito en la celebración
      del contrato en <a class="link-primary" href="https://acme-wedding.up.railway.app/">https://acme-wedding.up.railway.app/</a></p>


    <h2>5.- Condiciones de acceso y compra</h2>
    <p>El acceso al Portal de ACME Wedding es libre y atribuye a quien lo realiza la condición de Usuario,
      independientemente del posterior uso de los servicios ofrecidos. 
      El Usuario no deberá registrarse para comprar en nuestra tienda debiendo proceder a la
      cumplimentación de un formulario, lo que comportará asignar unos datos personales, cuya conservación y custodia dependerá exclusivamente del Usuario, quien deberá
      operar con ellas con la diligencia debida. Por lo tanto, no utilizará otras claves que no sean las
      suyas, con el objeto de suplantar a otros Usuarios en la utilización de
      <a class="link-primary" href="https://acme-wedding.up.railway.app/">https://acme-wedding.up.railway.app/</a>.</p>
    <p>
      La adquisición de los servicios en <a class="link-primary" href="https://acme-wedding.up.railway.app/">https://acme-wedding.up.railway.app/</a> sólo podrá hacerse por
      usuarios mayores de dieciocho (18) años, que deberán seguir los pasos e instrucciones que
      acompañarán todo el proceso de compra, consistentes, a modo meramente enunciativo:</br>
      <ol type="i">
        <li>Cumplimentación del formulario de  identificación de usuarios previamente
          registrados;</li>
        <li>Visualización en pantalla del resumen del pedido, condiciones de entrega y gastos en su caso
          de envio;</li>
        <li>Aceptación de condiciones de compra, lo cual supone la lectura, comprensión y aceptación
          irrevocable de todas y cada una de las presentes Condiciones Generales, así como en su caso, de las
          Condiciones Particulares existentes</li>
      </ol>
    </p>
    

    <h2>6.- Precio</h2>
    <p>Los precios indicados en las ofertas, presupuestos y facturas incluyen los impuestos que legalmente
      corresponden, salvo pacto en contrario. Por lo que se refiere a los precios de la prestación de servicios, 
      las partes podrán acordar un precio fijo cuando se celebre el acuerdo.
    </p>
    <p>
      Si no se ha acordado un precio fijo, la tarifa en relación con el servicio puede determinarse en
      función de las horas realmente empleadas. La tarifa se calculará de acuerdo con las tarifas horarias
      habituales de ACME Wedding, aplicables durante el período en que realice el trabajo, a menos que
      se haya acordado una tarifa horaria diferente.
    </p>
    <p>
      Si no se acuerda ninguna tarifa en función de las horas realmente empleadas, se acordará un precio
      orientativo para el servicio, en virtud del cual ACME Wedding tendrá derecho a desviarse de éste
      hasta un 10%. Si el precio objetivo es superior en más de un 10%, el prestador de servicios debe
      informar al usuario a su debido tiempo por qué se justifica un precio más alto. En ese caso, el
      usuario tendrá derecho a cancelar una parte del pedido que supere el precio recomendado más un
      10%. Los precios podrán ser revisados por ACME Wedding anualmente de conformidad con la variación
      al alza del IPC del año anterior.
    </p>

    
    <h2>7.- Pago</h2>
    <p>Las facturas deben pagarse dentro de los dias siguientes a la emisión de la factura, a menos que las
      partes hayan acordado lo contrario o que en la factura se indique otra forma de pago. En caso de
      devolución, demora o impago de los recibos, ACME Wedding podrá suspender total o parcialmente
      los Servicios o impedir la contratación de nuevos Servicios</br>
      Si transcurridos 30 dias desde la emisión de las facturas el usuario no manifestará, por cualquier
      medio que acredite su recepción, su disconformidad con el contenido de la misma, se entenderá que
      dichas facturas son correctas, no aceptando ACME Wedding ninguna reclamación transcurrido
      dicho periodo.</br>
      El usuario da su consentimiento expreso para que ACME Wedding ponga a su disposición, por
      medios electrónicos y via telemática, las facturas. El usuario podrá en todo momento ejercer su
      derecho a recibir las facturas en soporte papel, dirigiéndose por escrito a ACME Wedding
      Además, el retraso en el pago por un período superior a 1 mes o la suspensión temporal de servicios
      en dos ocasiones por mora en el pago, darán derecho a ACME Wedding a la interrupción definitiva
      de los servicios y la correspondiente resolución del contrato, previa notificación con 15 días de
      antelación, pudiendo solicitar, en su caso, la indemnización por cancelación anticipada de estas
      Condiciones Generales y el abono de los daños y perjuicios que se pudieran ocasionar como
      consecuencia de su incumplimiento.</br>
      Toda factura venciday pendiente de pago podrá devengar, desde la fecha en que debió ser abonada,
      interés de demora al tipo legal de referencia más 2 puntos porcentuales.</p>
    
    <h2>8.- Medios de pago</h2>
    <p>Los medios de pago aceptados son:</br>
      Pago con tarjeta de crédito o débito. Nos reservamos el derecho de NO aceptar ciertos pagos con
      determinadas tarjetas de crédito.</br>
      Pago mediante PayPal</br>
      Pago contra reembolso.</p>
    
    <h2>9.- Derecho de desistimiento</h2>
    <p>El usuario podrá ejercer el derecho de desistimiento del presente Contrato sin necesidad de
      justificación ni penalización, tan solo en los casos en los que se cumplan todos y cada uno de los
      siguientes requisitos:
      <ul>
      <li>que el usuario tenga la consideración de consumidor o usuario tal y como define la legislación
      vigente en materia de Defensa de Consumidores y Usuarios;</li>
      <li>que los servicios no hayan sido completamente ejecutados: y</li>
      <li>que este derecho sea ejercido por el usuario durante el periodo de desistimiento, que se
      corresponde con un plazo de 14 días naturales desde la fecha de celebración del contrato.</li>
      </ul></p>
    
      <p>A tal efecto, se considera consumidor o usuario la persona fisica que actúen con un propósito ajeno
      a su actividad comercial, empresarial, oficio o profesión.</br>
      El usuario no tendrá derecho de desistimiento en aquellos supuestos en los que no pueda ser
      catalogado como consumidor. Tampoco será aplicable, atendiendo a las excepciones recogidas en la
      legislación vigente, como son:
      <ul >
      <li>servicios que hayan sido completamente ejecutados;</li>
      <li>se trate de servicios personalizados en base a las especificaciones del usuario</li>
      <li>servicios de suministro de contenido digital:</li>
      <li>servicios de alojamiento para fines distintos del de servir de vivienda, transporte de bienes,
      alquiler de vehículos, comida o servicios relacionados con actividades de esparcimiento, si los
      contratos prevén una fecha o un periodo de ejecución especificos.</li>
      </ul></p>
    
    <h2>10.- Servicios de atención al usuario</h2>
    <p>ACME Wedding dispone de un servicio de atención al usuario para que el usuario pueda gestionar
      sus reclamaciones, dudas, o pueda solicitar garantías y ejecutar el derecho de desistimiento.
      El usuario puede dirigir sus quejas, reclamaciones o solicitudes de información al Servicio de
      Atención al Cliente de ACME Wedding, utilizando para ello cualquiera de las siguientes vías:</br>
      -Enviando un correo electrónico a acmewedding.elesemca@gmail.com</br>
      - Llamando al teléfono 627750323</br>
      Rellenando el formulario disponible en el apartado "Servicio de atención al cliente"</br>
      Todas las dudas y especialmente las quejas y sugerencias serán atendidas a la mayor rapidez, sin
      sobrepasar en ningún caso los plazos que establezca la legislación vigente.</br>
      Asimismo, tendrá constancia de las mismas mediante la entrega de un justificante por escrito, en
      papel o en cualquier otro soporte duradero.</p>
    
    <h2>11.- Garantías</h2>
    <p>De conformidad con el Real Decreto Legislativo 1/2007 de 16 de noviembre que aprueba el texto de
      la Ley General para la Defensa de los Consumidores y Usuarios, ACME Wedding se obliga a
      realizar una prestación de servicios conforme con el contrato celebrado, y a responder de cualquier
      falta de conformidad.</p>
    
    <h2>12.- Medios técnicos para corregir errores</h2>
    <p>Se pone en conocimiento del Usuario que en caso de que detecte que se ha producido un error
      al introducir datos necesarios para procesar su solicitud de compra en el Sitio Web, podrá modificar
      los mismos poniéndose en contacto con ACME Wedding utilizando los datos de contacto facilitados
      en la cláusula primera (Información general).Asimismo, estas informaciones también podrían
      subsanarse por el Usuario a través de su espacio personal de conexión al Sitio Web.</br>
      En cualquier caso, el Usuario, tiene acceso al espacio, carrito, o cesta donde se van anotando sus
      solicitudes de compra y puede hacer modificaciones.</br>
      De igual forma, se remite al Usuario a consultar el Aviso Legal y Condiciones Generales de Uso
      para recabar más información sobre cómo ejercer su derecho de rectificación según lo establecido
      en la Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos Personales y garantía de los
      derechos digitales.</p>
    
    <h2>13.- Idiomas del contrato</h2>
    <p>Estas condiciones generales de venta están redactadas en castellano. En caso de que se traduzcan a
      una o varias lenguas extranjeras, prevalecerá el texto en castellano en caso de litigio.</p>
    
    <h2>14.- Legislación aplicable</h2>
    <p>Estas Condiciones Generales se rigen por la ley española. Las partes se someten, a su elección, para
      la resolucitón de los conflictos y con renuncia a cualquier otro fuero, a los juzgados y tribunales del
      domicilio del usuario.</p>
    
    <h2>15.- Política de privacidad y protección de datos</h2>
    <p>Acme-Wedding cumple con la Ley Orgánica 15/1999, de Protección de Datos de Carácter Personal y con cualquier otra normativa 
      vigente en la materia, y mantiene una Política de Privacidad sobre los datos personales, en la que se describe, 
      principalmente, el uso que se hace de los datos de carácter personal, se informa al Usuario detalladamente de las 
      circunstancias esenciales de dicho uso y de las medidas de seguridad que se aplican a sus datos de carácter personal
       para evitar que terceros no autorizados puedan acceder a ellos.</p>
    
                                                             
                                                                                    
            
  </div>
</div>
{% endblock %}