{%extends 'base.html'%}

{% block menuitems %}

{% endblock %}

{% block content %}
<div class="row my-5">
  <div class="col-lg-12 mx-auto">

    <h1>Términos y Condiciones de Uso</h1>
    <p>&nbsp;</p>
    <p>El presente Aviso Legal regula las condiciones generales de acceso y utilización del sitio web accesible en la 
      dirección URL https://acme-wedding.up.railway.app (en adelante, el sitio web), que Acme-Wedding 
      pone a disposición de los usuarios de Internet.<br>
  La utilización del sitio web implica la aceptación plena y sin reservas de todas y 
    cada una de las disposiciones incluidas en este Aviso Legal.
     En consecuencia, el usuario del sitio web debe leer atentamente el presente Aviso 
     Legal en cada una de las ocasiones en que se proponga utilizar la web, 
     ya que el texto podría sufrir modificaciones a criterio del titular de la web,
      o a causa de un cambio legislativo, jurisprudencial o en la práctica empresarial.</p>
    <p>&nbsp;</p>
    <h2>1.- Titularidad del sitio web</h2>
    <p>Teléfono: (+34) 627750323</p>
    <p>Nombre del titular:<br>
    Domicilio social: <br>
    Población: <br>
    Provincia: <br>
    C.P.: <br>
    C.I.F.: <br>
    Teléfono de contacto: <br>
    Correo electrónico: <a href="mailto:acmewedding.elesemca@gmail.com" class="link-info">acmewedding.elesemca@gmail.com</a></p>
    <p>&nbsp;</p>
    <h2>2.- Objeto</h2>
    <p>El sitio web facilita a los usuarios del mismo el acceso a información y servicios prestados por Acme-Wedding
       a aquellas personas u organizaciones interesadas en los mismos.</p>
    <p>&nbsp;</p>
    <h2>3.- Acceso y utilización de la web</h2>
    <p>3.1.- Carácter gratuito del acceso y utilización de la web.<br>
    El acceso a la web tiene carácter gratuito para los usuarios de la misma.<br>
    3.2.- Registro de usuarios.<br>
    Con carácter general el acceso y utilización de la web no exige la previa suscripción o registro de los usuarios de la misma.</p>
    <p>&nbsp;</p>
    <h2>4.- Contenidos de la web.</h2>
    <p>El idioma utilizado por el titular en la web será el castellano. Acme-Wedding no se responsabiliza de la no comprensión 
      o entendimiento del idioma de la web por el usuario, ni de sus consecuencias.<br>
    Acme-Wedding podrá modificar los contenidos sin previo aviso, así como suprimir y cambiar éstos dentro de la web,
     como la forma en que se accede a éstos, sin justificación alguna y libremente, no responsabilizándose de las 
     consecuencias que los mismos puedan ocasionar a los usuarios.<br>
    Se prohíbe el uso de los contenidos de la web para promocionar, contratar o divulgar publicidad o información propia o
     de terceras personas sin la autorización de Acme-Wedding, ni remitir publicidad o información valiéndose para ello de 
     los servicios o información que se ponen a disposición de los usuarios, independientemente de si la utilización es gratuita o no.<br>
    Los enlaces o hiperenlaces que incorporen terceros en sus páginas web, dirigidos a esta web,
     serán para la apertura de la página web completa, no pudiendo manifestar, directa o indirectamente, 
     indicaciones falsas, inexactas o confusas, ni incurrir en acciones desleales o ilícitas en contra de Acem-Wedding</p>
    <p>&nbsp;</p>
    <h2>5.- Limitación de responsabilidad</h2>
    <p>Tanto el acceso a la web como el uso inconsentido que pueda efectuarse de la información contenida en la misma es de la
       exclusiva responsabilidad de quien lo realiza. Acme-Wedding no responderá de ninguna consecuencia, daño o perjuicio que
        pudieran derivarse de dicho acceso o uso. Acme-Wedding no se hace responsable de los errores de seguridad, que se puedan 
        producir ni de los daños que puedan causarse al sistema informático del usuario (hardware y software), o a los ficheros 
        o documentos almacenados en el mismo, como consecuencia de:<br>
    – la presencia de un virus en el ordenador del usuario que sea utilizado para la conexión a los servicios y contenidos de la web,<br>
    – un mal funcionamiento del navegador,<br>
    – y/o del uso de versiones no actualizadas del mismo.<br>
    Acme-Wedding no se hace responsable de la fiabilidad y rapidez de los hiperenlaces que se incorporen en la web
     para la apertura de otras. Acme-Wedding no garantiza la utilidad de estos enlaces, ni se responsabiliza de los 
     contenidos o servicios a los que pueda acceder el usuario por medio de estos enlaces, ni del buen funcionamiento de estas webs.<br>
    Acme-Wedding no será responsable de los virus o demás programas informáticos que deterioren o puedan deteriorar
     los sistemas o equipos informáticos de los usuarios al acceder a su web u otras webs a las que se haya accedido mediante
      enlaces de esta web.</p>
    <p>&nbsp;</p>
    <h2>6.- Empleo de la tecnología "Cookie"</h2>
    <p>La web no emplea cookies ni cualquier otro procedimiento invisible de recogida de información cuando el usuario navega 
      por ella, respetando en todo momento la confidencialidad e intimidad del mismo.<br>
    *SI SE EMPLEAN COOKIES CONSULTAR COMUNICADO SOBRE USO DE COOKIES La web emplea cookies, puede consultar nuestra Política de Cookies,
     que respeta en todo momento la confidencialidad e intimidad del mismo.</p>
    <p>&nbsp;</p>
    <h2>7.- Propiedad intelectual e industrial</h2>
    <p>Son propiedad de Acme-Wedding, todos los derechos de propiedad industrial e intelectual de la web, así como de los 
      contenidos que alberga. Cualquier uso de la web o sus contenidos deberá tener un carácter exclusivamente particular. Está
       reservado exclusivamente a Acme-Wedding, cualquier otro uso que suponga la copia, reproducción, distribución, 
       transformación, comunicación pública o cualquier otra acción similar, de todo o parte de los contenidos de la web,
        por lo que ningún usuario podrá llevar a cabo estas acciones sin la autorización previa y por escrito de Acme-Wedding.</p>
    <p>&nbsp;</p>
    <h2>&nbsp;8.- Política de privacidad y protección de datos</h2>
    <p>Acme-Wedding cumple con la Ley Orgánica 15/1999, de Protección de Datos de Carácter Personal y con cualquier otra normativa 
      vigente en la materia, y mantiene una Política de Privacidad sobre los datos personales, en la que se describe, 
      principalmente, el uso que se hace de los datos de carácter personal, se informa al Usuario detalladamente de las 
      circunstancias esenciales de dicho uso y de las medidas de seguridad que se aplican a sus datos de carácter personal
       para evitar que terceros no autorizados puedan acceder a ellos.</p>
    <p>&nbsp;</p>
    <h2>9.- Legislación aplicable y jurisdicción competente</h2>
    <p>El presente Aviso Legal se interpretará y regirá de conformidad con la legislación española. Acme-Wedding y los usuarios,
       con renuncia expresa a cualquier otro fuero que pudiera corresponderles, se someten al de los juzgados y tribunales del 
       domicilio del usuario para cualquier controversia que pudiera derivarse del acceso o uso de la web. En el caso de que el
        usuario tenga su domicilio fuera de España, Acme-Wedding sl y el usuario, se someten, con renuncia expresa a cualquier 
        otro fuero, a los juzgados y tribunales del domicilio de Acme-Wedding</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
                                                             
                                                                                    
            
  </div>
</div>
{% endblock %}
Footer
