{% extends "base.html" %}
{% load static %}

{% block title %}{{ product.name }}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static "base.css" %}">
<link rel="stylesheet" href="{% static "product/product_detail.css" %}">
{% endblock %}

{% block content %}

{%if admin == False %}
<div class="container product-detail" style="margin-top: 5%;">
    <div class="row align-items-center">
        
        <div class="col-lg-6" >
            <div class="card align-items-center" style="height: 500px; border: none;">
                {%if product.available == False %}
                <img alt="imagen de producto agotado" class="details-sold-out-logo"  src="/media/agotado.png" >
                {% endif %}
                <img alt="imagen del producto" class="details-img-sold-out" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
            </div>
        </div>
        <div class="col-lg-6">
            <h1>{{ product.name }}</h1>
            <h2>
                <a href="{{ product.category.get_absolute_url }}">
                    {{ product.category }}
                </a>
            </h2>
            <p class="price">{{ product.price }} €</p>
            <p class="my-0">En stock: <span class="badge rounded-pill {% if product.amount > 0 %}bg-success{% else %}bg-danger{% endif %}">{{ product.amount }}</span></p>
            <hr>

            {%if  product.available == True %}
            <form class="row" action="{% url "cart:cart_add" product.id %}" method="post">   
                <label for="id-form-quantity" class="col-lg-3 col-form-label">Cantidad</label>
                <div class="col-lg-6">
                    <input id="id_cantidad" name="cantidad" class="form-control mx-auto" type="number" value="1" min="1" max="{{product.amount}}" step="1"/>
                </div>
                {{ cart_product_form }}
                {% csrf_token %}
                <div class="col-lg-3 d-grid gap-2">
                    <button class="btn btn-primary" type="submit" value="Aceptar"><em class="bi bi-cart3"></em></button>
                </div>
            </form>
            
            {% endif %}
            <br>
            {{ product.description|linebreaks }}
        </div>
    </div>
    
    
</div>
{% endif %}

{%if admin == True %}
<div class="container product-detail" style="margin-top: 5%;">
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="row mb-5">
            <div class="col-lg-6 position-relative mb-lg-0 mb-5">
                {%if product.available == False %}
                    <img alt="imagen de producto agotado" class="detials-sold-out-logo"  src="/media/agotado.png" >
                {% endif %}
                <img alt="imagen del producto" class="details-img-sold-out mx-auto" style="object-fit:scale-down" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-5">   
                    <span class="input-group-text" id="nombre">Nombre</span>
                    <input class="form-control" value="{{ product.name }}" id="name" type="text" aria-describedby="nombre" name="name"></input>
                </div>

                <div class="input-group mb-5">
                    <span class="input-group-text" id="cantidad">Cantidad</span>
                    <input class="form-control" aria-describedby="cantidad" value="{{ product.amount }}" name="amount"></input>
                </div>

                <div class="input-group mb-5">
                    <span class="input-group-text" id="categoria">Categor&iacutea</span>
                        <select class="form-select" aria-describedby="categoria" name="category">
                            <option selected="selected">{{ product.category }}</option>
                        {% for c in categories %}
                        <option>{{ c.name }}</option>
                            {% endfor %}
                        </select>
                    
                    </input>
                </div>

                <div class="input-group mb-5">
                    <span class="input-group-text" id="precio">Precio</span>
                    <input class="form-control" value="{{ product.price }}" aria-describedby="precio" name="price"></input>
                </div>

                <input class="form-control" type="file" name="image" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="input-group mb-2">
                    <span class="input-group-text" id="description">Descripci&oacuten</span>
                    <textarea class="form-control" aria-describedby="description" name="description">{{ product.description}}</textarea>
                </div>
            </div>
        </div>

        <div class="row my-2">
            <div class="col-lg-3 mb-2 mx-auto">
                <button class="btn btn-primary w-100" type="submit"  style="margin-top: 1%" >Actualizar Producto</button>
            </div>
        </div>

    </form>
</div>    
{% endif %}

{% endblock %}