{% extends "base.html" %}
{% load static %}
{% block title %}
{{ product.name }}
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static "base.css" %}">
{% endblock %}
{% block content %}

<link rel="stylesheet" href="{% static "product/product_detail.css" %}">
{%if admin == False %}
<div class="container product-detail" style="margin-top: 5%;">
    <div class="row align-items-center">
        
        <div class="col-lg-6" >
            <div class="card align-items-center" style="border: none;">
                {%if product.available == False %}
                <img class="sold-out-logo"  src="/media/agotado.png" >
                {% endif %}
                <img class="img-sold-out" style=" object-fit:scale-down" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
            </div>
        </div>
        <div class="col-lg-6">
            <h1>{{ product.name }}</h1>
            <h2>
                <a href="{{ product.category.get_absolute_url }}">
                    {{ product.category }}
                </a>
            </h2>
            <p class="price">${{ product.price }}</p>

            {%if  product.available == True %}
            <form class="row" action="{% url "cart:cart_add" product.id %}" method="post">   
                <label for="id-form-quantity" class="col-3 col-form-label">Cantidad</label>
                <div class="col-6">
                    <input id="id_cantidad" name="cantidad" class="form-control mx-auto" type="number" value="1" min="1" max="{{product.amount}}" step="1"/>
                </div>
                {{ cart_product_form }}
                {% csrf_token %}
                <div class="col-3 d-grid gap-2">
                    <button class="btn btn-primary" type="submit" value="Aceptar"><i class="bi bi-cart3"></i></button>
                </div>
            </form>
            {% endif %}
            <br>
            {{ product.description|linebreaks }}
        </div>
    </div>
    
    
</div>
{% endif %}
{%if admin == True %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
        <div {% if message.tags == 'error' %} class="alert alert-danger" {% elif message.tags == 'success' %} class="alert alert-success"{% endif %}  role="alert">
        {{ message }}</div>
    {% endfor %}
{% endif%}
</ul>
<div class="container product-detail" style="margin-top: 5%;">
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6" >
                <div class="card align-items-center" style="border: none;">
                    {%if product.available == False %}
                    <img class="sold-out-logo"  src="/media/agotado.png" >
                    {% endif %}
                    <img class="img-sold-out" style=" object-fit:scale-down" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                </div>
                <input class="form-control" type="file" name="image" ></input>
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-3">   
                    <span class="input-group-text" id="nombre">Nombre</span>
                    <input class="form-control" value="{{ product.name }}" id="name" type="text" aria-describedby="nombre" name="name"></input>
                </div>
                </br>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="cantidad">Cantidad</span>
                    <input class="form-control" aria-describedby="cantidad" value="{{ product.amount }}" name="amount"></input>
                </div>
                </br>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="categoria">Categor&iacutea</span>
                        <select class="form-select" aria-describedby="categoria" name="category">
                            <option selected="selected">{{ product.category }}</option>
                        {% for c in categories %}
                        <option>{{ c.name }}</option>
                            {% endfor %}
                        </select>
                    
                    </input>
                </div>
                </br>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="precio">Precio</span>
                    <input class="form-control" value="{{ product.price }}" aria-describedby="precio" name="price"></input>
                </div>
                </br>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="description">Descripci&oacuten</span>
                    <textarea class="form-control" aria-describedby="description" name="description">{{ product.description}}</textarea>
                </div>
                </br>

                <!--{%if  product.available == True %}
                <div class="row">
                    <input class="col-4 mr-2" type="number" value="1" min="1" max="{{product.amount}}" step="1" style="margin-right: 2%; width:30%"/>
                    <button type="button" class="btn btn-primary col-2" type="submit" value="Submit"><i class="bi bi-cart3"></i></button>
                </div>
                {% endif %}-->
            </div>
            <button class="btn btn-primary col-4" type="submit"  style="margin-top: 1%" >Actualizar Producto</button>

        </div>
    </form>
</div>    
{% endif %}
{% endblock %}