{%extends 'base.html'%}

{% block menuitems %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Sobre la empresa
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/metodopago">Métodos de pago</a></li>
      <li><a class="dropdown-item" href="#">Opciones de entrega</a></li>
      <li><a class="dropdown-item" href="#">Política de envío</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Sobre la empresa</a></li>
    </ul>
  </li>
{% endblock %}